* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Inicio galeria index*/
.div-carrusel-index {
  display: flex;
  justify-content: space-around;
}
.div-carrusel-index .carrusel-imagenes {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}
.div-carrusel-index .carrusel-imagenes .mascotas {
  width: 75%;
  height: 75%;
}
.div-carrusel-index .carrusel-imagenes .texto-carrusel {
  justify-content: center;
}
.div-carrusel-index .carrusel-imagenes .grid-item {
  padding: 10px;
}

@media (max-width: 600px) {
  .div-carrusel-index {
    display: flex;
    justify-content: space-around;
  }
  .div-carrusel-index .carrusel-imagenes {
    display: flex !important;
    flex-direction: column !important;
  }
  .div-carrusel-index .carrusel-imagenes .mascotas {
    height: 300px;
    width: 300px;
  }
}
/*Final galeria index*/
/*Inicio footer*/
footer {
  background-color: #005f40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}
footer .contenedor-footer {
  display: flex;
  flex-direction: column;
}
footer .pin {
  height: 50px;
  width: 50px;
}
footer .case-info {
  color: white;
}
footer .redes {
  display: flex;
  justify-content: center;
}
footer .rason-social {
  color: white;
}

/*Final footer*/
/*Inicio header*/
header {
  width: 100%;
}
header .container-fluid {
  background-color: #005f40;
}
header .container-fluid .case-logo {
  padding-right: 450px;
}
header .container-fluid .nav-link {
  color: white !important;
}
header .container-fluid .navbar-brand {
  color: white !important;
}
header .container-fluid .btn {
  color: white;
}

/*Final header*/
h1 {
  display: flex;
  justify-content: center;
  color: #40005f;
}

p {
  color: #40005f;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

.nosotros-info {
  display: flex;
  justify-content: top;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.nosotros-info .imagen-nosotros {
  width: 75%;
  height: 75%;
}
.nosotros-info .case-nosotros {
  margin-top: 200px;
}
.nosotros-info .case-nosotros h2 {
  margin-left: 150px;
}

@media (max-width: 600px) {
  .nosotros-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
    flex-direction: column-reverse;
  }
  .nosotros-info .case-nosotros {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: nowrap;
  }
  .nosotros-info .case-nosotros h2 {
    padding-left: 20px;
  }
  .nosotros-info .gato-nosotros {
    display: flex;
    justify-content: center;
  }
  .nosotros-info .gato-nosotros .imagen-nosotros {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 75%;
  }
}
.carrusel-productos-gato {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.carrusel-productos-gato .imagenpez {
  width: 499.42px;
  height: 450px;
}
.carrusel-productos-gato .textopez {
  display: flex;
  justify-content: center;
  color: #40005f;
}
.carrusel-productos-gato .titulo-productos-pez {
  display: flex;
  justify-content: center;
}
.carrusel-productos-gato .titulo-productos-pez .textoproductospez {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #40005f;
}

@media (max-width: 600px) {
  .carrusel-productos-gato .imagenpez {
    width: 350px;
    height: 350px;
  }
  .carrusel-productos-gato .titulo-productos-pez .textoproductospez {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #40005f;
  }
  .carrusel-productos-gato .textopez {
    display: flex;
    justify-content: center;
    color: #40005f;
    font-size: 1rem;
  }
}
.carrusel-productos-perro {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.carrusel-productos-perro .imagen-perro {
  width: 499.42px;
  height: 450px;
}

.carrusel-productos-perro .texto-perro {
  display: flex;
  justify-content: center;
  color: #40005f;
}

.carrusel-productos-perro .titulo-productos-collar {
  display: flex;
  justify-content: center;
}

.carrusel-productos-perro .titulo-productos-collar .textoperro {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #40005f;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

/*# sourceMappingURL=style.css.map */
