

/*Inicio galeria index*/

.div-carrusel-index{

    display: flex;
justify-content: space-around;

.carrusel-imagenes{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    
   
    
   
    .mascotas{
        width: 75%;
        height: 75%;
    }
    .texto-carrusel{
        justify-content: center;
    }
    .grid-item{
        padding: 10px;
    }

}
}

@media (max-width:600px){
    .div-carrusel-index{

        display: flex;
    justify-content: space-around;
    .carrusel-imagenes{
        display: flex!important;  
        flex-direction: column!important;
        .mascotas{
            height:300px;
            width: 300px;
    }
        }
    
    
    
    }


}




/*Final galeria index*/