/*Inicio footer*/
@import "../base/variables";
footer{
    
    background-color: $color-principla-verde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    .contenedor-footer{
   
    display: flex;
    flex-direction: column;
    
    }

    .pin{
        height: 50px;
        width: 50px;
    }
    .case-info{
        color: white;
        
        
    }
    .redes{
        
        display: flex;
        justify-content: center;
    }
    .rason-social{
        color: white;
        
       
    }
}

/*Final footer*/