.nosotros-info{
    display: flex;
    justify-content: top;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);

    .imagen-nosotros{
        width: 75%;
        height: 75%;
        
    }

    
    .case-nosotros{
        
        margin-top: 200px;
    
        h2{
            margin-left: 150px;
        }
    }
}
@media (max-width: 600px){
    .nosotros-info{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: baseline;
        flex-direction: column-reverse;
    .case-nosotros{
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-content: space-between;
        flex-wrap: nowrap;
        h2{
            padding-left: 20px;
        }



    }
    .gato-nosotros{
        display: flex;
        justify-content: center;
    .imagen-nosotros{
        display: flex;
        justify-content: center;
        width: 75%;
        height: 75%;
        
    }
}
}
}