@import "../base/extends";


.carrusel-productos-perro{
    
    @extend %carrusel-producto-tamaños-caja;

    .imagen-perro{
        @extend %tamaño-estandar-imagenes-carrusel;
}

.texto-perro {

@extend %texto-nombre-producto;
}

.titulo-productos-collar{

@extend %caja-titúlo-estandar-página;

.textoperro{

    @extend %texto-general-titulo-página;

}
}

}
@media (max-width: 600px){

    .carrusel-productos-perro{
        .imagen-perro {
            width: 350px;
            height: 350px;
        }
    
    .titulo-productos-collar {
    

    .textoperro {
        display: flex;
        justify-content: center;
        font-size: 35px;
        color: #40005f;
    }
}

.texto-perro{
    display: flex;
    justify-content: center;
    color: $color-texto-galerias_morado;
    
     font-size: 1rem;
    
    }

} 
}

