
@import "../base/variables";
.carrusel-productos-gato{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

.imagenpez{
width: 499.42px;
height: 450px;

}

.textopez{
display: flex;
justify-content: center;
color: $color-texto-galerias_morado;
}



.titulo-productos-pez{

    display: flex;
    justify-content: center;
    .textoproductospez{
        display: flex;
        justify-content: center;
        font-size: 50px;
        color: $color-texto-galerias_morado;
        
        }
}
}