h1{
    display: flex;
    justify-content: center;
    color: #40005fff;
    }
p{
        color: #40005fff;
        display: flex;
        justify-content: center;
    }
    a{
        text-decoration: none;
    }